
@using Convocatoria.Web.Front.Models
@model ExperienciaLaboralModel

@{
    ViewBag.Title = "ExperienciaLaboral";
}

<h2>ExperienciaLaboral</h2>
.
.
.
.
.
.
.
pruebas
....
..
.
.
.
.
.
.
.
.
.
.
.
.

@Html.TextBoxFor(model => model.Dato, new { @class = "form-control" })